img {
    display: block;
    max-width: 100%;
    border-radius: 5px;
}

nav {
    margin-bottom: 15px;
}

a:hover {
    text-decoration: none;
}

.new-list-item {
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid #eee;
}

.new-list-item:first-child {
    padding-top: 0;
}

.new-list-item .title {
    display: block;
    color: #444;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 1.5;
}

.new-list-item .title:hover {
    color: #337ab7;
}

.new-list-item .info {
    color: #888;
}

.avatar img {
    display: inline-block;
    width: 18px;
}

.search {
    background-color: rgba(0, 0, 0, 0.05);
    margin-top: 15px;
    padding: 15px 0;
}

.report {
    font-size: 130%;
}

.simple-news {
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.05);
}

.title {
    font-size: 120%;
    font-weight: bold;
    padding: 10px 15px;
}

.list .item {
    padding: 100px, 15px;
    margin: 0 15px;
    font-size: 80%;
}

.list .item .news-title {
    padding-bottom: 8px;
}

.list .item .desc {
    color: #999;
}

.list .item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.container-small {
    max-width: 300px;
}