<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark" ">
        <div class="container ">
            <a href="index.html " class="navbar-brand ">
                <img src="../img/logo.png " alt="logo " width="50px ">
            </a>
            <ul class="navbar-nav mr-auto ">
                <li class="nav-item ">
                    <a href="# " class="nav-link ">Link1</a>
                </li>
                <li class="nav-item ">
                    <a href="# " class="nav-link ">Link1</a>
                </li>
                <li class="nav-item ">
                    <a href="# " class="nav-link ">Link1</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item ">
                    <a href="# " class="nav-link ">登录</a>
                </li>
                <li class="nav-item ">
                    <a href="# " class="nav-link ">注册</a>
                </li>
            </ul>
        </div>
    </nav>
    {% block main %} {% endblock %}
    <footer class="footer "> 
        <small>© 2017 BS1.0 中国互联网举报中心京ICP证1401号京ICP备125439号-3京公网安备</small>
    </footer>
    <link rel="stylesheet " href="../node_modules/bootstrap/dist/css/bootstrap.min.css ">
    <link rel="stylesheet " href="../css/main.css ">
    <script src="../node_modules/jquery/dist/jquery.min.js "></script>
</body>

</html>