<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark" ">
        <div class="container ">
            <a href="index.html " class="navbar-brand ">
                <img src="../img/logo.png " alt="logo " width="50px ">
            </a>
            <ul class="navbar-nav mr-auto ">
                <li class="nav-item ">
                    <a href="# " class="nav-link ">Link1</a>
                </li>
                <li class="nav-item ">
                    <a href="# " class="nav-link ">Link1</a>
                </li>
                <li class="nav-item ">
                    <a href="# " class="nav-link ">Link1</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item ">
                    <a href="# " class="nav-link ">登录</a>
                </li>
                <li class="nav-item ">
                    <a href="# " class="nav-link ">注册</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container ">
        <div class="row ">
            <div class="col-md-8 " >
                <h1 class="new-title ">Bootstrap4 折叠可以很容易的实现内容的显示与隐藏。</h1> 
                <div class="news-status ">
                    25k阅读 35分钟前发布
                    <div class="badge badge-info ">国际</div>
                    <div class="badge badge-info ">娱乐</div>
                </div>
                <div class="new-contain ">
                    <blockquote style="background-color: #999 ">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> 
                    </blockquote>
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas iste vitae voluptas, magni. Dignissimos deserunt fugiat nulla repellat, officia quae placeat magnam enim quia, voluptatibus natus temporibus corporis, autem aperiam.</p>
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas iste vitae voluptas, magni. Dignissimos deserunt fugiat nulla repellat, officia quae placeat magnam enim quia, voluptatibus natus temporibus corporis, autem aperiam.</p>
                    <img src="../img/news1.jpg " alt="news ">        
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas iste vitae voluptas, magni. Dignissimos deserunt fugiat nulla repellat, officia quae placeat magnam enim quia, voluptatibus natus temporibus corporis, autem aperiam.</p>        
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas iste vitae voluptas, magni. Dignissimos deserunt fugiat nulla repellat, officia quae placeat magnam enim quia, voluptatibus natus temporibus corporis, autem aperiam.</p>        
                </div>                  
            </div>
            <div class="col-md-4 ">                 
            </div>
        </div>
    </div>
    <footer class="footer "> 
        <small>© 2017 BS1.0 中国互联网举报中心京ICP证1401号京ICP备125439号-3京公网安备</small>
    </footer>
    <link rel="stylesheet " href="../node_modules/bootstrap/dist/css/bootstrap.min.css ">
    <link rel="stylesheet " href="../css/main.css ">
    <script src="../node_modules/jquery/dist/jquery.min.js "></script>
</body>

</html>